extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Sign up';

block content
	.page__content.page__content--middle
		.registration
			.registration__wrapper
				.registration__header.registration-header
					h1.title.registration-header__title
						| Sign up
				.registration__content
					.registration__descr
						.subtitle.registration__subtitle
							| New user?
						.registration__text
							| Use the form below to create your account.
					form.registration__form.form(method="POST")
						.form__line
							.form__col
								.form__field
									.form__
										label.form__label(for="first_name")
											| First Name
									input.form__control(type="text" id="first_name" value="Alice" required)
							.form__col
								.form__field
									label.form__label(for="last_name")
										| Last Name
									input.form__control(type="text" id="last_name" value="Miller" required)
						.form__line
							.form__col
								.form__field
									label.form__label(for="nationality")
										| Nationality
									.select-outer
										select.form__select(id="nationality" required)
											option
												| American
											option
												| Russian
											option
												| Deutsch
							.form__col
								.form__field
									label.form__label(for="mail")
										| E-mail
									input.form__control(type="email" id="mail" value="alice.miller@yahoo.com" required)
						.form__line
							.form__col
								.form__field
									label.form__label(for="birthday")
										| Date of Birth
									.control-group.control-group__birthday.birthday
										span.birthday__day.select-outer
											- var n = 1;
											select.form__select(name="birthday-day")
												while n < 31
													option= n++
										span.birthday__month.select-outer
											select.form__select(name="birthday-month")
												option
													| January
												option
													| February
												option
													| March
												option
													| April
												option
													| May
												option
													| June
												option
													| July
												option
													| August
												option
													| September
												option
													| October
												option
													| November
												option
													| December								
										span.birthday__year.select-outer
											- var n = 1960;
											select.form__select(name="birthday-year")
												while n < 2003
													option= n++
							.form__col
								.form__field
									label.form__label
										| Gender
									.radio-group
										label.radio.radio_type_line
											span.radio__box
												input.radio__control(type="radio" name="gender")
												span
											span.radio__text
												| Male
										label.radio.radio_type_line
											span.radio__box
												input.radio__control(type="radio" name="gender" checked="checked")
												span
											span.radio__text
												| Female
						.form__line
							.form__col
								.form__field
									label.form__label(for="password")
										| Password
									input.form__control(type="password" id="password" required)			
							.form__col
								.form__field
									label.form__label(for="password_confirm")
										| Confirm Password
									input.form__control(type="password" id="password_confirm" required)		
						.form__line.form__line--bottom
							.registration__auth-link
								| Have an account? 
								a(href='#') Login
							.form__submit
								button.button.button_type_submit.button_size_l.button_view_classic(type="submit") 
									| Complete Signup
								